[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
torch = "*"
imageio-ffmpeg = "*"
scipy = "*"
torchvision = "*"
imageio = "*"
fire = "*"

[requires]
python_version = "3.8"
